{% extends 'base.html' %}
{% block title %}
Редактирование профиля друга
{% endblock %}
{% block content %}
{% include 'cosmos/includes/header_template.html' %}
<form enctype="multipart/form-data" action=" {% url 'edit_friend' friend.id %} " class="card p-2 mb-2 w-50 bg-default" method="post"
      style="margin-left: 25%;">
    {% include 'cosmos/includes/forms_labels_template.html' %}
    {% if friend.photo %}
    <div class="mb-2">
        Текущая фотография<img class="rounded-circle ml-3" src="{{ friend.photo.url }}">
    </div>
    {% endif %}
    <div class="text-center">
        <button type="submit" class="mb-2 mt-2 btn btn-outline-dark">Применить изменения</button>
    </div>
</form>
{% endblock %}