{% extends 'base.html' %}
{% block title %}
Редактирование профиля друга
{% endblock %}
{% block content %}
{% include 'cosmos/includes/header_template.html' %}
    <form enctype="multipart/form-data" action=" {% url 'edit_friend' friend.id %} " class="ml-5" method="post">
        {% include 'cosmos/includes/forms_labels_template.html' %}
        {% if friend.photo %}
            <div mb-2>
                Текущая фотография<img class="rounded-circle ml-3" src="{{ friend.photo.url }}" width="40">
            </div>
        {% endif %}
        <div class="w-50 text-center">
            <button type="submit" class="mb-5 mt-4 btn btn-light">Применить изменения</button>
        </div>
    </form>
{% endblock %}