{% extends 'base.html' %}
{% load static %}
{% block title %}
События
{% endblock %}
{% block content %}
{% include 'cosmos/includes/header_template.html' %}
<div class="w-50" style="margin-left: 25%;">
    <input class="mb-2 form-control d-inline" type="search" id="search_event" placeholder="Поиск...">
    {% for event in e_list %}
    {% include 'cosmos/includes/event_card_template.html' %}
    {% endfor %}
</div>
{% include 'cosmos/includes/add_event_template.html' %}
<script src="{% static 'js/search_events.js' %}" type="text/javascript"></script>
{% endblock %}
