{% extends 'base.html' %}
{% load static %}
{% block title %}
    Импортирование события
{% endblock title %}
{% block content %}
    {% include 'cosmos/includes/header_template.html' %}
    <link rel="stylesheet" href="{% static 'css/events_settings.css' %}">
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'js/delete_files.js' %}" type="text/javascript"></script>
    {{ form.media }}
    <form enctype="multipart/form-data" action=" {% url 'import_event' token %} " class="card p-2 mb-2 w-50 bg-default"
          method="post" style="margin-left: 25%;">
        {% include 'cosmos/includes/forms_labels_template.html' %}
        Прикрепленные фото и видео:
        {% include 'cosmos/includes/files_template.html' %}
        <input type="hidden" id='delete_photos' name="delete_photos"/>
        <input type="hidden" id='delete_videos' name="delete_videos"/>
        <div class="mt-2 mb-2 text-center">
            <button type="submit" class="btn btn-outline-dark">Импортировать событие</button>
            <a type="button" href="{% url 'events' %}" class="btn btn-outline-danger">Отмена</a>
        </div>
    </form>
{% endblock %}