{% load static %}
<div class="card mb-3 bg-default">
    <div class="row no-gutters">
        <div class="col-5 m-2">
            {% if friend.photo %}
            <img class="card-img rounded-circle" src="{{ friend.photo.url }}">
            {%else%}
            <img class="card-img rounded-circle" src="{% static 'photo.png' %}">
            {%endif%}
        </div>
        <div class="col-6">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'some_friend' friend.id%}">{{friend.name}}</a></h5>
                {% if friend.date_begin%}
                <p class="card-text"><small class="text-muted">Дружим с {{friend.date_begin}}</small></p>
                {% endif %}
                {% if friend.date_birth%}
                <p class="card-text"><small class="text-muted">День рождения {{friend.date_birth}}</small></p>
                {% endif %}
            </div>


            <div class="modal fade" id="staticBackdrop{{friend.id}}" data-backdrop="static" tabindex="-1" role="dialog"
                 aria-labelledby="staticBackdropLabel{{friend.id}}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content bg-light">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel{{friend.id}}">Удаление друга</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Подумай еще раз. После всего, что между вами было, ты просто хочешь его удалить?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                            <form action="{% url 'delete_friend' friend.id %}">
                                <button type="submit" class="btn btn-danger">Удалить друга</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-auto">
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" id="navbarScrollingDropdown"
                   data-bs-toggle="dropdown" aria-expanded="false">
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li>
                        <form action="{% url 'edit_friend' friend.id %}">
                            <button type="submit" class="btn btn-link">Редактировать</button>
                        </form>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <button type="button" class="btn btn-link" data-toggle="modal"
                                data-target="#staticBackdrop{{friend.id}}">Удалить
                        </button>
                    </li>
                </ul>
            </li>
        </div>
    </div>
    <div class="row card-body">
        <p class="card-text ml-1">{% if friend.character%}{{friend.character}}{%endif%}</p>
    </div>
</div>