.selector-available{
    display: inline-block;
    float: top;
}
.selector-chooser{
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    float: top;
}
.selector-chosen{
    display: inline-block;
    position: relative;
    float: top;
}

select {
    width: 100%;

   }

.selector-clearall{
    display: block;
    align="center";
}

.selector-chooseall{
    display: block;
    align="center";
}

#id_members_input{
    margin-left:-2%;
}
#id_members_to{
    margin-top: 9%;

}
#id_members_from{
    height: 100px;
}

h2{
    font-weight: normal;
}